.the_body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    min-height: 100vh;
    margin: 20px;
  }
  h1 {
    font-size: clamp(20px, 4vw, 30px);
    line-height: 1.2;
    margin-bottom: 40px;
  }
  h2 {
    line-height: 1.2;
    margin-bottom: 40px;
  }
  main {
    max-width: 1020px;
    margin: 0 auto;
    border: 1.5px solid black;
  }
  summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #d4d4d4;
    color: black;
    padding: 0.5rem;
    outline: none;
    border-bottom: 2px solid black;

    text-align: left;
    cursor: pointer;
    position: relative;
    
  }


  
details
{
    transition: height 1s ease;
    overflow: hidden;
}
  details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
  }
  details > summary::after {
    position: absolute;
    content: "↑";
    right: 20px;
  }
  details[open] > summary::after {
    position: absolute;
    content: "↓";
    right: 20px;
  }


  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }


  table {
    width: 100%;
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid #808080; 
  }
  .elementor-tab-content{
    padding: 5px;
  }

  th, td {
    padding: 05px;
    text-align: left;
  }

  th {
    background-color: #808080;
    color: #fff;
  }

  .faq__content{
    padding: 05px;
    margin: 5px;
    /* margin-right: 18px; */
  }

  .start-para-4s{
    font-size: 1.2rem;
    margin-bottom: 4rem;
  } 

  @media (max-width: 768px) {
    .the_body{
      font-size: 12px;
    }
    main {
  
        padding: 3px; /* Adjust padding for smaller screens */
    }
  
    h1 {
        font-size: 10px; /* Adjust font size for smaller screens */
    }
  }



