/* Figma Styles of your File */
:root {
    /* Colors */
    --primary-01: #da2b24;
    --primary-02: #df5944;
    --background-light: #faf3f5;
    --background-dark: #ffaeab;
    --neutral-black: #2d2e2d;
    --neutral-white: #ffffff;
    --neutral-grey: rgba(45, 46, 45, 0.8);
  
    /* Fonts */
    --heading-02: 700 36px/124% "Poppins-Bold", sans-serif;
    --paragraph-regular: 400 16px/135% "Poppins-Regular", sans-serif;
    --paragraph-bold: 700 16px/135% "Poppins-Bold", sans-serif;
    --sectionsubtitle: 600 20px/135% "Poppins-SemiBold", sans-serif;
    --counter-text: 700 20px/124% "Poppins-Bold", sans-serif;
    --paragraph-regular-itallic: 400 italic 16px/24px "Poppins-Italic", sans-serif;
    --breadcrumstext: 600 16px/124% "Poppins-SemiBold", sans-serif;
    --buttontext: 700 16px/22.54px "Poppins-Bold", sans-serif;
    --banner-titletext: 700 40px/124% "Poppins-Bold", sans-serif;
    --blogcardtitle: 600 16px/135% "Poppins-SemiBold", sans-serif;
  
    /* Effects */
    --dropshadow-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  }
  