.carousel { 
	position: relative; 
	width: 870px; 
	height: 500px; 
	overflow: hidden; 
    /* display: flex;
    flex-direction: column; */
	background-color: #cdcdcd; 
} 

.shipra-video-item-1 .slide-image { 
	width: 870px; 
	height: 500px; 
	background-size: cover; 
	background-repeat: no-repeat; 
} 

.shipra-video-item-1 { 
	position: absolute; 
	width: 100%; 
	height: 270px; 
	border: none; 
	top: 0; 
	left: 100%; 
} 

.shipra-video-item-1.active { 
	left: 0; 
	transition: all 0.3s ease-out; 
} 

.shipra-video-item-1 div { 
	height: 100%; 
} 

.red { 
	background-color: red; 
} 

.green { 
	background-color: green; 
} 

.yellow { 
	background-color: yellow; 
} 

.violet { 
	background-color: violet; 
}
